{% extends 'hotel/base.html' %}

{% block title %}
Cyprus For You | Apartments
{% endblock %}

{% block body %}

<div class="jumbotron" id="about-jumbotron">
    <div class="container" id="about-container">
        <h1>About Us</h1>

        <h6>
            To introduce ourselves, we are a Russian family of six, we are very happy to help you with any requests you may have – such as airport transfers, or if you would like to organise a tour of local areas. We speak English and Russian languages.
        </h6>
        <h6>
            We welcome you in the heart of tourist zone of Limassol! The beach is only 3 minutes away by foot, 120 meters. On the ground floor of our building you can find several cafes and restaurants, and even more around the complex. Our aim is to make your stay as comfortable as possible. We have recently done renovation works throughout the whole building and all our flats, installing all new equipment and furnishing.
        </h6>

        <div class="container" id="photo-gallery">
            <div class="row">
              <div class="col-md">
                <img src="../../static/hotel/images/building1.jpg">
              </div>
              <div class="col-md">
                <img src="../../static/hotel/images/beach2.jpg">
              </div>
              <div class="col-md">
                <img src="../../static/hotel/images/building2.jpg">
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <img src="../../static/hotel/images/view1.jpg">
              </div>
              <div class="col-md">
                <img src="../../static/hotel/images/building3.jpg">
              </div>
              <div class="col-md">
                <img src="../../static/hotel/images/beach1.jpg">
              </div>
            </div>
          </div>
          

    </div>
</div>

{% endblock %}