{% extends 'hotel/base.html' %}

{% block title %}
Log In
{% endblock %}

{% block body %}

<div class="jumbotron" id="login-jumbotron">
    <div class="container" id="login-container">

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <h1>Welcome</h1>
            <div class="form-group">
              <label for="inputUsername">Your Username</label>
              <input name="username" type="text" class="form-control" id="inputUsername">
            </div>
            <div class="form-group">
              <label for="inputPassword">Your Password</label>
              <input name="password" type="password" class="form-control" id="inputPassword">
            </div>
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            <button type="submit" class="btn btn-primary">Log In</button>
            <p>Don't have an account yet? <a href="{% url 'register' %}?next=/">Register here.</a></p>
        </form>

    </div>
</div>

{% endblock %}